<!DOCTYPE html>
<html>
<head>
  <title>Heathers Coupon Site</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<div class="header">
		<div class="container">
			<%= link_to root_path do %>
			<% end %>

			<div class="nav pull-right">
				<% if current_user %>
					<ul>
						<li><%= current_user.first_name %></li>
						<li><%= link_to "Log out", logout_path, method: "delete" %></li>
					</ul>
				<% else %>
					<ul>
						<li><%= link_to "Login" 'login' %></li>
						<li><%= link_to "Signup", 'signup' %></li>
					</ul>
				<% end %>
			</div>
		</div>
	</div>
	
	<%= yield %>

</body>
</html>
